---
import Navbar from "../components/Navbar.astro";
---

<!DOCTYPE html>
<html data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
	<Navbar />
    <slot />
  </body>
</html>

